<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lsp.cardom">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appIcon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appIcon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainScreen"
            android:theme="@style/ConnectAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuScreen" android:label="MAIN MENU"/>
        <activity android:name=".Leds" android:label="LED" android:parentActivityName=".MenuScreen"/>

        <service
            android:name=".BlueServer"
            android:icon="@drawable/connection_button"
            android:label="BlueService" />

        <activity android:name=".Lights" android:label="LIGHTS" android:parentActivityName=".MenuScreen"/>
        <activity android:name=".Safety" android:label="PARKING" android:parentActivityName=".MenuScreen"></activity>
    </application>

</manifest>